.liveManage,
.reportManage {
    .el-checkbox-button__inner {
        border: none;
        border-radius: 0;
    }
    .el-checkbox-button:first-child .el-checkbox-button__inner {
        border: none;
        border-radius: 0;
    }
    .el-checkbox-button:last-child .el-checkbox-button__inner {
        border: none;
        border-radius: 0;
    }
    .el-dialog__body {
        margin: 5px;
        padding: 5px;
    }
    .el-dialog__header {
        text-align: center;
    }
}

.liveReady,
.addServant {
    #quill-container {
        height: 300px;
    }
}

// .avatar-uploader .el-upload {
//     border: 1px dashed #d9d9d9;
//     border-radius: 6px;
//     cursor: pointer;
//     position: relative;
//     overflow: hidden;
// }

// .avatar-uploader .el-upload:hover {
//     border-color: #20a0ff;
// }

// .avatar-uploader-icon {
//     font-size: 28px;
//     color: #8c939d;
//     width: 178px;
//     height: 178px;
//     line-height: 178px;
//     text-align: center;
// }

// .avatar {
//     width: 178px;
//     height: 178px;
//     display: block;
// }

.vjs_video_3-dimensions {
    position: absolute;
    width: 90%; //height: 100%;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}